.placesSuggest {
  width: 100%;
  position: relative;
}

  .placesSuggest_suggests {
    pointer-events: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 .4rem .5rem .0625rem #dbdbdc;
    z-index: 2;
  }

    .placesSuggest_suggest {
      padding: .3125rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.875rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    .placesSuggest_suggest:hover,
    .placesSuggest_suggest-active {
      background: #f5f5f5;
    }

    .placesSuggest_suggest:hover {
      cursor: pointer;
    }

      .placesSuggest_suggestLabel {
        color: #000;
      }

        .placesSuggest_suggestMatch {
          font-weight: bold;
        }
